#### 01. 최소-최대 정규화

1. 데이터의 최솟값과 최댓값을 사용하여 새로운 범위로 변환
2. 최대/최소는 0,1 로 매핑되어 값들은 비례하여 변환
3. 데이터를 비교적 일정한 범위로 조정하는데 사용
4. 다양한 스케일을 가진 변수들을 비교가능하게 하고, 스케일 완화를 할 수 있음

In [1]:
import numpy as np
import pandas as pd

#### 1.데이터 생성

In [4]:
# 시계열 데이터 생성
dates = pd.date_range('2023-01-01',periods=100, freq='d')
values = np.random.randint(0,100, size=100)

# 데이터 프레임 생성
data = pd.DataFrame({'Date':dates,'Value':values})
print(data)

         Date  Value
0  2023-01-01     87
1  2023-01-02     91
2  2023-01-03     65
3  2023-01-04     12
4  2023-01-05     35
..        ...    ...
95 2023-04-06     26
96 2023-04-07     61
97 2023-04-08     83
98 2023-04-09      3
99 2023-04-10     89

[100 rows x 2 columns]

#### 2. Min-Max 정규화 수행 및 확인

In [6]:
# 정규화
min_val = data['Value'].min()
max_val = data['Value'].max()
print(min_val,max_val)

# 정규화 데이터 확인
data['Value_Normalized'] = (data['Value'] - min_val) / (max_val - min_val)
print(data)

0 99
         Date  Value  Value_Normalized
0  2023-01-01     87          0.878788
1  2023-01-02     91          0.919192
2  2023-01-03     65          0.656566
3  2023-01-04     12          0.121212
4  2023-01-05     35          0.353535
..        ...    ...               ...
95 2023-04-06     26          0.262626
96 2023-04-07     61          0.616162
97 2023-04-08     83          0.838384
98 2023-04-09      3          0.030303
99 2023-04-10     89          0.898990

[100 rows x 3 columns]