#### 다중 상관 분석

1. 두 개 이상의 독립 변수와 하나의 종속 변수 사이의 상관관계
2. 모든 변수들 간의 상관계수 행렬을 구한 후, 이를 이용하여 변수들 간의 상관관계를 파악
3. 가장 강한 상관관계를 가지는 변수를 가지고 예측모델 구성

#### 부분 상관 분석
1. 두 변수 간의 상관관계에서 다른 변수들의 영향을 제거한 후에 얻어진 상관관계를 계산
2. 대표적으로 편 상관계수는 두 변수 간의 상관관계에서 다른 변수의 영향을 제거하고 나머지 변수들만으로 계산

In [1]:
import seaborn as sns

In [11]:
# titanic 데이터셋에서 일부 변수 선택
cols = ['survived', 'pclass','age','fare']

In [12]:
# 선택한 변수들을 가지고 새로운 데이터프레임 생성
df = sns. load_dataset('titanic' )[cols].dropna ( )
# 다중 상관 분석 수행
corr = df.corr()
# 결과 출력
print (corr)

          survived    pclass       age      fare
survived  1.000000 -0.359653 -0.077221  0.268189
pclass   -0.359653  1.000000 -0.369226 -0.554182
age      -0.077221 -0.369226  1.000000  0.096067
fare      0.268189 -0.554182  0.096067  1.000000

In [28]:
import seaborn as sns

# 데이터 셋 로드
tips = sns.load_dataset('tips')

corr2 = df.corr()
tips
# 상관관계 분석하기
# corr2 = tips.corr()
# print(corr2)

# 히트맵으로 생성하기
# sns.heatmap(corr, annot=True, cmap='coolwarm')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]