In [4]:
import seaborn as sns
import pandas as pd

In [21]:
df = sns.load_dataset('titanic').dropna()
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked  class
1           1       1  female  38.0      1      0  71.2833        C  First  \
3           1       1  female  35.0      1      0  53.1000        S  First
6           0       1    male  54.0      0      0  51.8625        S  First
10          1       3  female   4.0      1      1  16.7000        S  Third
11          1       1  female  58.0      0      0  26.5500        S  First
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
871         1       1  female  47.0      1      1  52.5542        S  First
872         0       1    male  33.0      0      0   5.0000        S  First
879         1       1  female  56.0      0      1  83.1583        C  First
887         1       1  female  19.0      0      0  30.0000        S  First
889         1       1    male  26.0      0      0  30.0000        C  First

       who  adult_male deck  embark_town alive  alone
1    woman       False    C    Cherbourg   yes  False
3    woman       False    C  Southampton   yes  False
6      man        True    E  Southampton    no   True
10   child       False    G  Southampton   yes  False
11   woman       False    C  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
871  woman       False    D  Southampton   yes  False
872    man        True    B  Southampton    no   True
879  woman       False    C    Cherbourg   yes  False
887  woman       False    B  Southampton   yes   True
889    man        True    C    Cherbourg   yes   True

[182 rows x 15 columns]

In [22]:
corr = df[['survived','pclass','age','sibsp','parch','fare','adult_male','alone']].corr()
print(corr)

            survived    pclass       age     sibsp     parch      fare
survived    1.000000 -0.037698 -0.251045  0.101376  0.018739  0.130632  \
pclass     -0.037698  1.000000 -0.305708 -0.105262  0.046273 -0.316796
age        -0.251045 -0.305708  1.000000 -0.154160 -0.269757 -0.090730
sibsp       0.101376 -0.105262 -0.154160  1.000000  0.253478  0.284841
parch       0.018739  0.046273 -0.269757  0.253478  1.000000  0.388540
fare        0.130632 -0.316796 -0.090730  0.284841  0.388540  1.000000
adult_male -0.582727 -0.122403  0.338384 -0.147610 -0.183689 -0.114147
alone      -0.111827  0.064678  0.203460 -0.628796 -0.549197 -0.298233

            adult_male     alone
survived     -0.582727 -0.111827
pclass       -0.122403  0.064678
age           0.338384  0.203460
sibsp        -0.147610 -0.628796
parch        -0.183689 -0.549197
fare         -0.114147 -0.298233
adult_male    1.000000  0.193695
alone         0.193695  1.000000